@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
  --bg: #11171a;
  --bg-nav: #1c2429;
  --text-color: #f6f4f4;
  --primary: #1ceeba;
  --bg-cards: #1c2429;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::selection {
  background-color: #0c1012;
  color: #ffffff;
}

body {
  background: var(--bg);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  background-color: var(--bg);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--bg-nav);
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  color: var(--title);
  font-family: "Yeseva One", cursive;
  color: var(--text-color);
  font-size: 1.5rem;
  padding-left: 90px;
}

.navigation {
  width: 90px;
  height: 100vh;
  background-color: var(--bg-nav);
  padding: 60px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 200;
}

.navigation__logo {
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
  font-size: 1.7rem;
  font-family: "Yeseva One", cursive;
  font-weight: 700;
}

.navigation__ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navigation__li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__a,
.navigation__figma-projects {
  font-size: 1.7rem;
  color: var(--text-color);
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
}
.navigation__a-active {
  color: var(--primary);
}

.navigation__a:hover {
  transform: scale(1.2);
  color: var(--primary);
}

.main {
  padding-left: 90px;
  padding-bottom: 100px;
  position: relative;
}
/* svg */
.main-svg {
  position: fixed;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 10;
  pointer-events: none;
  user-select: none;
}
.main-svg-1 {
  top: 0;
  left: 90px;
  transform: scale(10);
}
.main-svg-2 {
  bottom: 0;
  right: 0;
  transform: scale(10);
}
/* navigation technology */
.navigation-technology {
  width: 300px;
  height: 60px;
  background-color: #1c242996;
  backdrop-filter: blur(10px);
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  border-radius: 10px;
  z-index: 2000;
}
.navigation-technology__ul {
  width: 100%;
  height: 100%;
  display: flex;
}
.navigation-technology__li {
  /* calc height / li items */
  width: calc(300px / 5);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-technology__icon {
  width: 60%;
  position: relative;
  z-index: 300;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.2s;
}
.navigation-technology__icon:active {
  transform: scale(0.8);
}
/* ball navigation technology */
.ball {
  height: 100%;
  width: 50px;
  background-color: #1ceeb94c;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  border-radius: 10px;
  transform: scale(0.8);
  /*   transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 */
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
/* svg */

/* 0 projects */
.no-projects {
}

/* projects Container*/
.projects-container {
  padding: 0 20px;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(390px, 390px)); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  position: relative;
  z-index: 100;

  opacity: 0;
  transform: translateY(100px);
  transition: 1.5s;
  justify-content: center;
}
.projects-containerActive {
  opacity: 1;
  transform: translateY(0);
}
.projects__item {
  width: 100%;
  height: 250px;
  background-color: var(--bg-cards);
  border-radius: 5px;
  background-color: var(--bg-nav);
  background-color: var(--bg-cards);
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* loader */
.loader {
  width: 48px;
  height: 48px;
  background: transparent;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 6px;
  top: 10px;
  width: 12px;
  height: 12px;
  color: var(--primary);
  background: currentColor;
  border-radius: 50%;
  box-shadow: 25px 2px, 10px 22px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.projects__container-img {
  display: block;
  width: 100%;
  height: 85%;
}
.projects__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.projects__description {
  width: 100%;
  height: 15%;
  background-color: var(--bg-cards);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.projects__description-title {
  color: var(--text-color);
  font-size: 1rem;
  font-family: "Poppins", cursive;
}
.projects__technology {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.technology__icons {
  width: 20px;
}
.opacity {
  /* small js */
  opacity: 0.2;
}
/* .small {
  opacity: 0.3;
} */

/* Loader disable on load images */

.projects__item {
  pointer-events: none;
}
.projects__container-img,
.projects__description {
  display: none;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  padding-left: 90px;
  border-top: 2px solid var(--bg-nav);
  display: none;
}

.footer__copyright {
  color: var(--primary);
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

.footer__link {
  color: #808080;
  font-family: "Poppins", sans-serif;
}

.footer a {
  color: var(--text-color);
  font-size: 1.2rem;
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .header {
    font-size: 1rem;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;
    z-index: 200;
  }
  .navigation {
    width: 100%;
    height: 70px;
    z-index: 1000;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    background-color: #0c1012a8;
    background-color: #1c242996;

    backdrop-filter: blur(10px);
  }

  .navigation__ul {
    flex-direction: row;
    gap: 10px;
  }
  .navigation__a,
  .navigation__figma-projects {
    font-size: 1.4rem;
  }
  .main {
    padding: 0px 10px 170px 10px;
  }
  .main-svg {
    transform: scale(4) translate(-10px, 5px);
  }
  .navigation-technology {
    bottom: 90px;
  }
  .projects-container {
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
  }
  .projects__item {
    width: 100%;
    height: 210px;
    border-radius: 3px;
  }
  /* 
  .projects__item-img {
    display: none;
  } */
  .footer {
    padding: 10px;
  }
  .footer__copyright {
    font-size: 1.1rem;
  }
  .footer__link {
    font-size: 0.9rem;
  }
}
